.App{
  overflow: scroll;
}
/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  margin: 2%;
  width: 100%;
}

.Nav{
  display: flex;
  flex-direction: column;
}
.group-1{
  display: flex;
  width: 75%;
  gap:1%;
  /* border: 2px solid firebrick; */

}

.nav-home{
  margin: 0;
  display: flex;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap: 3%;
  /* justify-content:center; */
  font-weight: 700;
  width: 200px;
  align-items: center;
}

.nav-home-img img{
  width: 0.6rem;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 2rem;

}
.nav-account{
  background-color: #77b0ed;
  margin-right: 3%;
  padding:2%;
  border-radius: 100%;
  font-size: larger;
  font-weight: 600;
  /* width: 10px; */
  text-transform: capitalize;
  color: rgb(204, 222, 238);
}
.nav-account div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-address{
  font-size: 12px;
}

@media screen and (max-width: 425px) {
  .group-1{
    gap: 3%;
  }
  .logo img{
    width: 1.5rem;
  }
  .nav-home-img img{
    width: 0.8rem;
  }
  .nav-home{
    font-size: 14px;
  }
  .nav-address{
    font-size: 10px;
  }
  .nav-account{
    padding-top: 1%;
  }
}
/* Search bar styles */
.searchbar {
  font-size: 10px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  box-shadow: 1px 1px 5px rgba(177, 177, 177, 0.489);
  height: 2.5rem;
  background: white;
  border: 1px solid #dfe1e5;
  border-radius: 10px;
  margin: 3%;
  margin-right: 1%;
  max-width:100%;
}

.searchbar:hover {
  box-shadow: 0 1px 3px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbar-left {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-icon-wrapper {
  margin: auto;
}

.search-icon {
  margin-top: 30%;
  color: #9aa0a6;
  height: 30px;
  width: 30px;
}

.searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 30px;
  line-height: 25px;
  position: relative;
  width: 25px;
  color:rgb(251, 117, 104);
}

.searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

.searchbar-right {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row
}

.searchbar-clear-icon {
  margin-right: 12px
}

.voice-search {
  /* flex: 1 0 auto; */
  display: flex;
  cursor: pointer;
  align-self: center;
  justify-content: center;
  width: 2.5em;
  height: fit-content;
}

@media screen and (max-width:350px) {
    .searchbar-input::placeholder{
  font-size: 14px;

    }
}

/* explore */

.explore{
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  gap: 10px;
  color: #59595a;
}

.explore p{
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  color: rgba(79, 79, 79, 0.98);
  /* font-size: 11px; */
  margin: auto;
}
.explore hr{
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #a7a7a75d;
  margin: auto;
}


.advertisement{
  display: flex;
  margin:5% 3%;
  padding: 4%;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(177, 177, 177, 0.489);
}

.ad-content{
  display: grid;
  /* border: 2px solid red; */
  text-align: left;
  width: 80%;
  justify-content: left;
}
.ad-content h2{
  margin: 0;
}
.ad-content p{
  margin: 0;
  width: 70%;
  font-size: 14px;
}
.ad-img{
  align-self: center;
  /* display: flex; */
  justify-content: center;
  width: 20%;
}
.ad-img img{
  width: 4rem;
}


.mind{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #59595a;
}

.mind p{
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  color: rgba(79, 79, 79, 0.98);
  /* font-size: 11px; */
  margin: auto;
}
.mind hr{
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #a7a7a75d;
  margin: auto;
}

/* Item list styles */
.horizontal-scroll-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping */
  padding: 20px 0; /* Add padding as needed */
  
}

.horizontal-scroll-row {
  display: flex; /* Display rows in a flex container */
}

.horizontal-scroll-content {
  display: inline-block; /* Ensure content is displayed in a single line */
}

.item {
   /* Display items in a single line */
  /* min-width: 200px; Set minimum width for items */
  margin-right: 20px; /* Add margin between items */
  padding: 10px; /* Add padding as needed */
  display: inline-block;
  margin: 10px;
  /* border: 1px solid #cccccc; */
  border-radius: 4px;
  text-align: center;
  width: fit-content;
}

.item div{
  /* background-color: red; */
  width: fit-content;
  display: grid;
}

.item img {
  width: 100px;
  margin-top: -20%;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.item-name{
  margin: 0;
  margin-top: -10%;
  font-size: 18px;
  color: #333333;
}


.all-rest{
  margin-top: 6%;
  display: grid;
  margin-bottom: 5%;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #59595a;
}

.all-rest p{
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  color: rgba(79, 79, 79, 0.98);
  /* font-size: 11px; */
  margin: auto;
}
.all-rest hr{
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #a7a7a75d;
  margin: auto;
}

.sort-group{
  margin-top: 5%;
  display: flex;
  margin: 2%;
  justify-content: space-around;
  margin-bottom: 5%;
  column-gap: 1%;
}
.sort-group div{
  padding: 2% 3%;
  border-radius: 8px;
  font-size: 13px;
  box-shadow: 1px 1px 5px rgba(177, 177, 177, 0.489);
  display: flex;
  font-weight: 500;
  align-items: center;
  column-gap: 8%;
  justify-content: space-evenly;
  /* width: fit-content; */
}
.new-tag-group{
  display: flex;
  width: 35%;
  justify-self: center;
  justify-content: center;
  column-gap: 1%;
}
.sort-img{
  width: fit-content;
  height:9px;
  /* padding-left: 10px; */
  padding-right: 10px;
}
.filter-img{
  width: fit-content;
  height: 15px;
}
.new-tag{
  font-size: smaller;
  padding: 2% 4%;
  color: aliceblue;
  font-weight: 500;
  background-color:red;
  border-radius: 5px;
}

.rest-text{
  font-size: 14px;
  color: #59595a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;

}


.rest-count{
  /* display: flex; */
  /* flex-direction: column; */
  width: 94%;
  justify-content: center;
  align-items: center;
  height: 20em;
  margin: 3%;
  border-radius: 1.5em;
  overflow: hidden;
  box-shadow: 1px 1px 8px rgba(177, 177, 177, 0.489);
  /* border: 2px solid red;  */
}

.rest-img img{
  width: 100%;
  z-index: 0;
  height:12em;
}
.rest-img{
  display: block;
  z-index: -1000;
}

.rest-content{
  padding: 2% 2% 2% 0;
  background-color: azure;
  z-index: 1000;
  margin-top: -7%;
}
.rest-content hr{
  padding: 0 2%;
}
.rest-count .time{
  margin: 0;
  width: fit-content;
  padding: 2% 5% 2% 2%;
  border-radius: 0 24px 0 0;
  background-color:azure;

  font-size: smaller;
  z-index: 1000;

}
.dot{
  width: 10px;
  height: 10px;
}
.timer{
  width: 15px;
  height: 15px;
}
.rest-name-group{
  display: flex;
  padding: 0 2%;
  justify-content: space-between;
  column-gap: 1%;
}
.rest-name{
  padding-top: 1%;
  font-size:24px;
  font-weight: 500;
}

.rest-rating{
  background-color: green;
  height: fit-content;
  color: aliceblue;
  font-size: medium;
  padding: 1% 2%;
  border-radius: 5px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 3%;
}
.rest-rating img{
  width: 15px;
  
  height: 15px;
  padding-left: 10%;
}

.rest-food{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 2%;
}
.offer{
  padding: 0 2%;
  display: flex;
  column-gap: 2%;
  justify-content: left;
  align-items: center;
  color: #3587e0;
}

.discount{
  width: 20px;
  height: 20px;
}

.navlink{
  color: black;
  text-decoration: none;
}